# Backend Services Configuration
# Minimal configuration for running backend services with pre-built images

# --- Required: Use Pre-built Images ---
USE_PREBUILT_IMAGES=true

# --- Network Configuration ---
NETWORK=testnet
IGRA_CHAIN_ID=19416

# --- Core Settings ---
RUST_LOG=info
LOGGING_DRIVER=json-file

# --- L1/L2 Configuration ---
IGRA_LAUNCH_DAA_SCORE=206700000
L1_REFERENCE_TIMESTAMP=1752450516
L1_REFERENCE_DAA_SCORE=200184247
GENESIS_BLOCK_HASH=0xf4f4074583f9d15af88d5842556da85e36a865a8f165bc3e366c31736057237b

# --- Gas Configuration ---
MIN_PROTOCOL_FEE_PER_GAS_GWEI=2000

# --- Execution Layer ---
EL_ONE_TIME_ADDRESS=0x9B40f34627bcf3eE1a55146A71ea6b38f917D8fd

# --- Kaspad Connection ---
KASPAD_HOST=kaspad
KASPAD_BORSH_PORT=17210
KASPAD_ADD_PEER=37.27.122.164 # caravel server

# --- Viaduct Settings ---
REPLAY_ON_ERROR=-1
SYNC_THREADS=64
MAGIC_SPK=2047263f35eabea5d347f3dba93acc495b394c93b886fec6c9ac033684454eafb3ac
DELAY_WINDOWS=10

# --- Performance ---
ENABLE_PERF_DIAGNOSTICS=false


# --- Your Node Settings
NODE_ID=<your-node-name> # for example PublicTestNode-1
HEALTH_CHECK_API_KEY=<your-api-key>

# --- S3 Backup Configuration (Optional) ---
S3_BACKUP_BUCKET=igralabs-viaduct-archival-data
S3_BACKUP_REGION=eu-north-1

# --- BEGIN RPC CONFIG ---
# --- HTTPS domain settings ---
IGRA_ORCHESTRA_DOMAIN=example.com
IGRA_ORCHESTRA_DOMAIN_EMAIL=you@example.com


# --- RPC Access Tokens (ensure that they are 32 hexadecimal characters). All 46 MUST be set, otherwise RPC works without authentication. ----
RPC_ACCESS_TOKEN_1=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
RPC_ACCESS_TOKEN_2=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
RPC_ACCESS_TOKEN_3=cccccccccccccccccccccccccccccccc
RPC_ACCESS_TOKEN_4=dddddddddddddddddddddddddddddddd
RPC_ACCESS_TOKEN_5=eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
RPC_ACCESS_TOKEN_6=ffffffffffffffffffffffffffffffff
RPC_ACCESS_TOKEN_7=00000000000000000000000000000000
RPC_ACCESS_TOKEN_8=11111111111111111111111111111111
RPC_ACCESS_TOKEN_9=22222222222222222222222222222222
RPC_ACCESS_TOKEN_10=33333333333333333333333333333333
...
RPC_ACCESS_TOKEN_46=44444444444444444444444444444444


# Worker 0 configuration
W0_WALLET_TO_ADDRESS=kaspatest:qqfrt9vlrpl98m8gwsrw45ynvpgxcrl87x3h2337k8ft4eyhacyqumc0t9vng
W0_KASWALLET_PASSWORD=


# Worker 1 configuration
W1_WALLET_TO_ADDRESS=kaspatest:qp3fvkdml089rvf56876nlfxvu2q50cxykp38v85tdhadjjpzlvggrk36tgqs
W1_KASWALLET_PASSWORD=

# Worker 2 configuration
W2_WALLET_TO_ADDRESS=kaspatest:qr90wczg3rsvx8amerj24w5crd8902u908vxqeganw8jmr3w6npjyvj6szv79
W2_KASWALLET_PASSWORD=

# --- END RPC CONFIG ---